

.metabox-sidebar-content {
    margin: 16px 16px 16px 16px;

    .metatags-browser-title-field {
        margin: 0px 0px 16px 0px;

        label.components-base-control__label {
            font-size: 14px;
            color: #007cba;
        }
    }
}